<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleTitanic.git">Kaggle Tutorial: Machine Learning from Disaster </a></strong>
			- with Decision Tree, Random Forest, Conditional Inference from Random Forest. Codes are written by R. In top 5-10% until 1st January 2015.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleFaceRecogintion">Kaggle Tutorial: Facial Keypoints Detections</a></strong>
			- written by R on CPU. Among top 20% until 1st January 2015.
		</h5>
    	
    </div>
  </div>
</div>
</section>
