<section id="projects">
<div class="container">
  <h3>Activities</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>
        <i class="fa fa-heart"></i>&nbsp;&nbsp; <strong><a href="https://docs.google.com/presentation/d/1Z0oNcBxj_n_B1qGywT3K-DexqgWudZrwArMGvm1WrE4/edit#slide=id.g35f391192_00">(Vietnamese) Sharing talk: Start</a></strong>
         - introduce and share my experience to learn machine learning and deep learning in local community. 2017
      </h5>
      <h5>
        <i class="fa fa-heart"></i>&nbsp;&nbsp;<strong><a href="http://class.med2lab.com/">(Vietnamese) AI Class with Med2Lab </a></strong> - with Med2Lab to design and instruct an AI 10-week class to teach people in local community about basic knowledge and skills to enter field. 2017
      </h5>
      <h5>
        <i class="fa fa-heart"></i>&nbsp;&nbsp; (Vietnam) I initialized and co-ordinated an event with friends from John Von Neuman Institute, Grokking Technology Community and Vietnam Journal of Science. We have over 300 registers and 100 participants. 2017
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.vjsonline.org/career/khoa-h%E1%BB%8Dc-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u-ph%E1%BA%A7n-3-g%C3%B3c-nh%C3%ACn-t%E1%BB%AB-vi%E1%BB%87t-nam-v%C3%A0-th%E1%BA%BF-gi%E1%BB%9Bi">(Vietnamese) Data Science from Vietnam and the world</a></strong>
         - interviews from academia and industry. Part 3 out of 3 published on Vietnam Journal of Science -  Career Column. Published in 2017
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.vjsonline.org/career/khoa-h%E1%BB%8Dc-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u-ph%E1%BA%A7n-2-l%C3%A0m-th%E1%BA%BF-n%C3%A0o-%C4%91%E1%BB%83-tr%E1%BB%9F-th%C3%A0nh-nh%C3%A0-khoa-h%E1%BB%8Dc-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u">(Vietnamese) Data Science: How to become a data scientist?</a></strong>
         - a know-how article. Part 2 out of 3 published on Vietnam Journal of Science -  Career Column. Published in 2017
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.vjsonline.org/career/khoa-h%E1%BB%8Dc-ph%C3%A2n-t%C3%ADch-d%E1%BB%AF-li%E1%BB%87u-ph%E1%BA%A7n-1-t%E1%BB%95ng-quan-v%E1%BB%81-khoa-h%E1%BB%8Dc-d%E1%BB%AF-li%E1%BB%87u">(Vietnamese) Data Science: Overview</a></strong>
         - an introduction. Part 1 out of 3 published on Vietnam Journal of Science -  Career Column. Published in 2017
      </h5>
      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/doko.git">Created Doko - Web Application for travelers </a></strong>
         - clustering, recommendation system. Codes are written by Python. In Oct 2016.
      </h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleTitanic.git">Completed Kaggle Tutorial: Machine Learning from Disaster </a></strong>
			- written by R. Top 5-10% until 1st Jan 2015.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleFaceRecogintion">Completed Kaggle Tutorial: Facial Keypoints Detections</a></strong>
			- written by R on CPU. Among top 20% until 1st January 2015.
		</h5>

    </div>
  </div>
</div>
</section>
