<section id="research">
<div class="container">
  <h3><strong>Projects</strong></h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/doko.git">Created Doko - Web Application for travelers </a></strong>
         - clustering, recommendation system. Codes are written by Python. In Oct 2016.
      </h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleTitanic.git">Completed Kaggle Tutorial: Machine Learning from Disaster </a></strong>
			- written by R. Top 5-10% until 1st Jan 2015.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/EmmaNguyen/KaggleFaceRecogintion">Completed Kaggle Tutorial: Facial Keypoints Detections</a></strong>
			- written by R on CPU. Among top 20% until 1st January 2015.
		</h5> -->

    <p>
    <strong>Research:</strong> Deep Generative Models, and Reinforcement Learning for 3D vision.
    </p>
    <p>
    <strong>Project:</strong> <a href="https://github.com/EmmaNguyen/Imagination">Imagination</a>; <strong>Spin-off:</strong> SmartBrush, a tool for VR/AR designers and engineers (Suspended)
    </p>
    <p>
    <strong>Application:</strong> Social Good with healthcare, insurance, private AI and education.
    </p>
    <p>
    <strong>Project:</strong> <a href="www.trackcovid19.tech">www.trackcovid19.tech</a>, a knowledge sharing site for collective common sense learning about COVID-19 (Active)
    </p>
    <p>
    <strong>Company:</strong> BlueSkinX, Inc. SF-based tele-health startup.
    </p>
    <p>
    <strong>Website: </strong><a href="www.blueskinx.com">www.blueskinx.com</a> (Active)
    </p>

    </div>
  </div>
</div>
</section>
